<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    @if (Session["user"] == null)
    {
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="/default/index"><img class="img-layout" src="http://i.imgur.com/Wdpspnv.png" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="menu" class="nav navbar-nav">
                    <li class="active">
                    <li><a href="/project/addproject">ADD PROJECT</a></li>
                    <li><a href="/project/seekproject">PROJECTS</a></li>
                    <li><a href="/default/scientificresearch">SCIENTIFIC RESEARCH</a></li>
                    <li><a href="/default/about">ABOUT</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">LOGIN<span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="/default/index" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                <input type="email" class="form-control" name="email"  placeholder="Email address" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                <input type="password" class="form-control" name="senha" placeholder="Password" required>
                                                <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    }

    else
    { 
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/default/index"><img src="http://i.imgur.com/Wdpspnv.png" class="img-layout" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="menu" class="nav navbar-nav">
                    <li class="active">
                    <li><a href="/project/addproject">ADD PROJECT</a></li>
                    <li><a href="/project/seekproject">PROJECTS</a></li>
                    <li><a href="/default/scientificresearch">SCIENTIFIC RESEARCH</a></li>
                    <li><a href="/default/group">MY GROUP</a></li>
                    <li><a href="/default/about">ABOUT</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="drop-user">
                        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">@ViewBag.User<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/profile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                            <li><a href="/project/createproject"><span class="glyphicon glyphicon-plus"></span> Create Project</a></li>
                            @if (ViewBag.Status == 3)
                            {
                                <li><a href="/user/manage"><span class="glyphicon glyphicon-edit"></span> Manage Users</a></li>
                            }
                            <li role="separator" class="divider"></li>
                            <li><a href="/default/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    }


    <div class="container">
        @RenderBody()
    </div>
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-lg-12">
                <div class="col-md-8">
                    <a href="#">Terms of Service</a> | <a href="/default/contact">Contact</a>
                </div>
                <div class="col-md-4">
                    <p class="muted pull-right">© 2016 INTERA. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/inputFile.js"></script>
    <script src="~/scripts/addCampo.js"></script>
</body>
</html>