<!DOCTYPE html>

<html>
<head>
    


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout">
        <header class="android-header mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">

                <!-- Title -->
                <span class="android-title mdl-layout-title">
                    <nav class="mdl-navigation__link">
                        <a class="mdl-navigation__link" href="Index"
                           style="text-decoration: none; font-size: 42px;">INTERA</a>
                    </nav>
                </span>

                <!-- Add spacer, to align navigation to the right -->
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only" style="align-content:center;">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="projects" style="text-decoration: none;">
                        Projects
                    </a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="scientificresearch" style="text-decoration: none;">
                        Scientific Research
                    </a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="professors" style="text-decoration: none;">
                        Professors
                    </a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#" style="text-decoration:none;">
                        About
                    </a>
                </nav>

                <!--BOTÃO DE PESQUISAR-->
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                                mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon"
                           for="fixed-header-drawer-exp">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__fixed">
                        <input class="mdl-textfield__input" type="text" name="sample"
                               id="fixed-header-drawer-exp">
                    </div>
                </div>

                <!--ESPAÇAMENTO-->
                <div class="mdl-layout-spacer"></div>

                <!--INSERIR DADOS PARA REALIZAR LOGIN-->
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none;">Login<span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="dropdown-menu-right">
                                <div class="col-md-12">
                                    <form class="form" role="form" action="/default/index" method="post">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                            <div>
                                                @if (ViewBag.Mensagem != null)
                                                {
                                                    <div class="alert alert-warning">
                                                        @ViewBag.Mensagem
                                                    </div>
                                                }
                                                <div class="help-block text-right"><a href="">Forget password?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <!--OPÇÕES INTERNAS DO BOTÃO GAVETA-->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title" style="font-size: 40px; text-align: left;">Luizao</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="default/addproject"
                   style="text-decoration: none;"><i class="material-icons">add_circle</i>Add Project</a>

                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#~/Views/Default/createproject.cshtml"
                   style="text-decoration: none;"><i class="material-icons">create</i>Create Project</a>

                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#~/Views/Default/profile.cshtml"
                   style="text-decoration: none;"><i class="material-icons">account_circle</i>Profile</a>

                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#~/Views/Default/group.cshtml"
                   style="text-decoration: none;"><i class="material-icons">group</i>My Group</a>

                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#~/Views/Default/register.cshtml"
                   style="text-decoration: none;"><i class="material-icons">person_add</i>Register</a>

                <!--DIV PARA SEPARAR UM LINK DO OUTRO-->
                <div class="android-drawer-separator"></div>

                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#"
                   style="text-decoration: none;"><i class="material-icons">exit_to_app</i>Logout</a>
            </nav>
        </div>

        @*<main class="mdl-layout__content">
            <div class="page-content"></div>
        </main>*@
    </div>

    <div >
        @RenderBody()
    </div>
    <div class="divFooter">
        <div class="rowFooter">
            <div class="container">
                <div class="pull-left">
                    <a class="aProject" href="#">Terms of Service</a>|<a class="aProject" href="contact">Contact</a>
                </div>
                <div class="pull-right">
                    <span>© 2016 INTERA. All rights reserved</span>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="~/scripts/inputFile.js"></script>
</body>
</html>