
@{
    ViewBag.Title = "addproject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:60px;">
    <div>
        <h2>Add Project</h2>
    </div>
    <div class="container" style="margin-top:10px;">

        <div class="divProject">
            <label>Project Title</label>
            <input type="text" class="form-control inputProject">
        </div>

        <div class="divProject">
            <label>Members</label>
            <input type="text" class="form-control inputProject" style="margin-left:35px;">
        </div>

        <div class="divProject">
            <label>Advisor</label>
            <input type="text" class="form-control inputProject" style="margin-left:48px;">
        </div>

        <div class="divProject">
            <label>Co-Advisor</label>
            <input type="text" class="form-control inputProject" style="margin-left:27px;">
        </div>

        <hr class="hrProject">

        <div>
            <label>Abstract</label>
            <textarea class="form-control textareaProject" rows="10"></textarea>
        </div>

        <hr class="hrProject">



        <div class="row" style="height:50px;">
            <input type="file" class="file">
            <div class="input-group col-xs-6">
                <input type="text" class="form-control input-lg" id="btnFile" disabled placeholder="Upload file...">
                <span class="input-group-btn">
                    <button class="browse btn btn-default input-lg" style="font-size:18px;" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                </span>
            </div>
            @*<a class="btn btn-default btn-lg pull-right btnProject" href="#"><span class="glyphicon glyphicon-send"></span> Send</a>*@
            <a class="btn btn-default btn-lg pull-right btnProject" href="#"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </div>
    </div>
</div>