@model IEnumerable<Intera.Entity.Pessoa>
@{
    ViewBag.Title = "createstep2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 60px;">Create New Project - Step 2</h2>

<div class="container">
    <form action="/" method="post">
        <table class="table table-hover">
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>INITIAL DATE</th>
                <th>FINAL DATE</th>
                <th>#</th>
            </tr>
            @foreach (var pessoa in Model)
            {
                <tr>
                    <td>@pessoa.Nome</td>
                    <td>@pessoa.Email</td>
                    <td></td>
                </tr>
            }
        </table>
    </form>
</div>

