@model IEnumerable<Intera.Entity.Professor>
@{
    ViewBag.Title = "Create Step One";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:60px;">
    <h2>Create New Project - Step One</h2>
    <form role="form" action="/project/createstep1" method="post">
        <div style="margin-top:20px;">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="NomeProjeto" placeholder="Project Title" required>
            </div>
            <div class="form-group">
                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Co-Advidor:</label>
                <select class="form-control" name="IdCoorientador" >
                    <option value="0"></option>
                    @foreach (var prof in Model)
                    {
                        <option value="@prof.IdPessoa">@prof.Rs - @prof.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Type</label>
                <div class="form-check">

                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="Tipo" id="gridRadios1" value="1" checked>
                        TCC
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="Tipo" id="gridRadios2" value="2">
                        Scientific Research
                    </label>
                </div>
            </div>

            <div>
                <textarea class="form-control " name="Descricao" placeholder="Short description..." rows="4"></textarea>
            </div>

            <input type="file" class="file" id="file">
            <div class="input-group col-xs-6">
                <input type="text" class="form-control input-lg" id="btnFile" disabled placeholder="Upload file..." formenctype="multipart/form-data">
                <span class="input-group-btn">
                    <button class="browse btn btn-default input-lg" style="font-size:18px;" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                </span>
            </div>

            <button type="submit" class="btn btn-default btn-lg pull-right"><i class="fa fa-arrow-right"></i> Next</button>
        </div>
    </form>
</div>

