
@{
    ViewBag.Title = "Create New Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>Create New Project</h2>

    <div class="container-fluid" style="margin-top: 50px">
        <div class="row">
            <div class="media-left">
                <div class="form-group row">
                    <label>Project Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-create title-create">
                    </div>

                    <br />

                    <div>
                        <fieldset class="input-group">
                            <div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                        TCC
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                        Scientific Research
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="container">
                    <h2>Group Members</h2>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Studant</th>
                                <th>Date</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Student1</td>
                                <td>01/01/2001</td>
                                <td>student1@example.com</td>
                            </tr>
                            <tr>
                                <td>Student2</td>
                                <td>02/02/2002</td>
                                <td>student2@example.com</td>
                            </tr>
                            <tr>
                                <td>Student3</td>
                                <td>03/03/2003</td>
                                <td>student3@example.com</td>
                            </tr>
                            <tr>
                                <td>Professor1</td>
                                <td>04/04/2004</td>
                                <td>professor1@example.com</td>
                            </tr>
                        </tbody>

                    </table>
                    <a id="btnAdd" class="btn btn-default" href="#">
                        <spam class="glyphicon glyphicon-plus"></spam>
                        Add Member
                    </a>
                    <a id="btnDel" class="btn btn-default" href="#">
                        <spam class="glyphicon glyphicon-trash"></spam> Delete
                    </a>
                    <a id="btnConfirm" class="btn btn-default" href="#">
                        <spam class="glyphicon glyphicon-ok"></spam>
                        Create Project
                    </a>

                </div>
            </div>
            </div>
        </div>
    </div>
