@model IEnumerable<Intera.Entity.AlunoProjeto>
@{
    ViewBag.Title = "Create Step Two";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 60px;">Create New Project - Step 2</h2>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>INITIAL DATE</th>
            <th>FINAL DATE</th>
            <th>#</th>
        </tr>
        @foreach (var aluno in Model)
        {
            <tr>
                <td>@aluno.Nome</td>
                <td>@aluno.Email</td>
                <td>@aluno.DataEntrada</td>
                <td>@aluno.DataSaida</td>
                <td>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </table>
    <a href="#">content</a>
</div>

