@model IEnumerable<Intera.Entity.Projeto>
@{
    ViewBag.Title = "My Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>My Projects</h2>
</div>
<div style="margin:60px">
    <table class="table table-bordered text-center">
        <tr>
            <th>NAME</th>
            <th>MEMBERS</th>
            <th>STATUS</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.NomeProjeto</td>
                <td>Vai ser foda colocar os membro</td>
                @if (@item.Status == 1)
                {
                    <td>Em andamento</td>
                }
                @if (@item.Status == 2)
                {
                    <td>Finalizado</td>
                }
                <td>
                    <a href="/project/posts/@item.IdProjeto"><i class="fa fa-commenting"></i> Posts</a>
                    @if (ViewBag.Status == 2)
                    {
                        <a href="/project/edit/@item.IdProjeto"><i class="fa fa-pencil"></i> Edit</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>
