<table class="table table-bordered">
    <tr>
        <th>NAME</th>
        <th>E-MAIL</th>
        <th>#</th>
    </tr>
    @if (ViewBag.AlunoProjetoModal != null)
    {
        foreach (var item in ViewBag.AlunoProjetoModal)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>
                    <a href="/project/addalunodataedit/@item.IdPessoa" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>
                </td>
            </tr>
        }
    }
</table>
