
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 80px;">

    <div class="row">
        <input type="text" class="form-control input-search" placeholder="search...">
        <button class="form-control btn btn-default button-search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </div>

    <div>
        <div class="nav-left">
            <h3 class="text-center">Professors</h3>
            <ul>
                <li>
                    <input type="checkbox" id="prof1"/>
                    <label for="prof1">Viana</label>
                </li>
                <li>
                    <input type="checkbox" id="prof2" />
                    <label for="prof2">Sergio</label>
                </li>
                <li>
                    <input type="checkbox" id="prof3" />
                    <label for="prof3">Edes</label>
                </li>
            </ul>

            <h3>Project</h3>
            <ul>
                <li>
                    <input type="checkbox" id="theme1" />
                    <label for="theme1">Scientific Research</label>
                </li>
                <li>
                    <input type="checkbox" id="theme2" />
                    <label for="theme2">TCC</label>
                </li>
            </ul>
        </div>

        <div class="div-projects">
            <div>
                <ul>
                    <li class="item-project">
                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTdmMWY2NDQ5MCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1N2YxZjY0NDkwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
                             class="img-rounded">
                        <div class="info-seek">
                            <label class="label-seek">Project1</label>
                            <label class="label-seek">Description</label>
                            <label class="label-seek">Authors</label>
                        </div>
                        <div class="info-seek pull-right">
                            <a class="btn btn-default btn-seek" href="/project/seeproject"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                            <button class="btn btn-default btn-seek"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
                        </div>
                    </li>
                    <li  class="item-project">
                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTdmMWY2NDQ5MCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1N2YxZjY0NDkwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
                             class="img-rounded">
                        <div class="info-seek" >
                            <label class="label-seek">Project2</label>
                            <label class="label-seek">Description</label>
                            <label class="label-seek">Authors</label>
                        </div>
                        <div class="info-seek pull-right">
                            <button class="btn btn-default btn-seek"><span class="glyphicon glyphicon-eye-open"></span> View</button>
                            <button class="btn btn-default btn-seek"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
                        </div>
                    </li>
                    <li  class="item-project">
                        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTdmMWY2NDQ5MCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1N2YxZjY0NDkwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="
                             class="img-rounded">
                        <div class="info-seek">
                            <label class="label-seek">Project3</label>
                            <label class="label-seek">Description</label>
                            <label class="label-seek">Authors</label>
                        </div>
                        <div class="info-seek pull-right">
                            <button class="btn btn-default btn-seek"><span class="glyphicon glyphicon-eye-open"></span> View</button>
                            <button class="btn btn-default btn-seek"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>