
@{
    ViewBag.Title = "seeproject";
    Layout = "~/Views/Shared/_LayoutOff.cshtml";
}

<div style="margin-top:100px;">
    <div>
        <h2 class="" style="font-weight:bolder;">See Project</h2>
    </div>
    <div class="container" style="margin-top:10px;">
        <br />
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: 900; font-size:larger;">Title</div>
            <div class="panel-body"> Project RodoWorkers</div>


            <div class="panel-heading" style="font-weight: 900; font-size:larger;">Authors</div>
            <div class="panel-body"> Jonatas, Thelio, Heitor e Henrique.</div>


            <div class="panel-heading" style="font-weight: 900; font-size:larger;">Advisor</div>
            <div class="panel-body"> José A. A. Viana</div>


            <div class="panel-heading" style="font-weight: 900; font-size:larger;">Summary</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate risus non condimentum tincidunt. Aenean in quam congue, facilisis mi ut, pretium sapien. Quisque magna augue, ullamcorper nec nulla eget, lacinia convallis arcu. Donec vitae laoreet eros. Integer dignissim massa sed massa luctus tristique. Nullam ornare metus ac ornare ultrices. In dignissim mattis blandit. Ut felis justo, tempor sed arcu quis, elementum imperdiet leo.

                Morbi iaculis nibh magna, in ornare lacus tempus sit amet. Phasellus at sem a leo porttitor gravida. Cras eu turpis sapien. Integer fringilla nec ligula eu mollis. Donec eget sem lobortis, venenatis sem nec, tincidunt sapien. Fusce arcu metus, laoreet eget posuere eu, imperdiet sit amet mauris. Nunc congue, nisi at efficitur elementum, ipsum quam luctus mauris, a rutrum metus lorem nec est. Nullam bibendum sagittis metus, eget sollicitudin est vulputate sit amet. Vestibulum cursus ultricies ipsum at sollicitudin. Quisque mollis, ligula eu fringilla posuere, augue mauris viverra risus, egestas placerat ligula libero ac dui.
            </div>
        </div>
        <br />


        <hr class="hrProject">

        <div class="row" style="height:50px;">

            <a class="btn btn-default btn-lg pull-right btnProject" href="#"><span class="glyphicon glyphicon-download"></span> Download</a>
            @*<a class="btn btn-default btn-lg pull-right btnProject" href="#"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>*@
        </div>
    </div>
</div>

