
@{
    ViewBag.Title = "editprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:60px">Edit Profile</h2>
<div class="container">
    <form class="form-horizontal" action="/user/update/@ViewBag.IdPessoa" method="post">

        <div class="form-group">
            <label for="img-circle" class="col-sm-3 control-label">Profile Image</label>
            <div class="col-sm-6">
                <input type="image" name="ProfileImage" placeholder="Profile Image" class="form-control input-register" value="" maxlength="50" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-6">
                <input type="text" name="Nome" placeholder="Full Name" class="form-control input-register" value="@ViewBag.Nome" maxlength="50" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" name="Email" placeholder="Email" class="form-control input-register" value="@ViewBag.Email" maxlength="50">
            </div>
        </div>
        <div class="form-group">
            <label for="facebook" class="col-sm-3 control-label">Facebook</label>
            <div class="col-sm-6">
                <input type="text" name="Facebook" placeholder="ex: https://www.facebook.com/profile" class="form-control input-register" value="" maxlength="15" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="twitter" class="col-sm-3 control-label">Twitter</label>
            <div class="col-sm-6">
                <input type="text" name="Twitter" placeholder="ex: https://www.twitter.com/profile" class="form-control input-register" value="" maxlength="15" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="googlePlus" class="col-sm-3 control-label">Google Plus</label>
            <div class="col-sm-6">
                <input type="text" name="GooglePlus" placeholder="ex: Google Plus" class="form-control input-register" value="" maxlength="15" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="linkedin" class="col-sm-3 control-label">Linkedin</label>
            <div class="col-sm-6">
                <input type="text" name="Linkedin" placeholder="ex: Linkedin" class="form-control input-register" value="" maxlength="15" autofocus>
            </div>
        </div>


        @if (ViewBag.Status == 1)
        {
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Curso</label>
                <div class="col-sm-6">
                    <input type="text" name="Curso" placeholder="ex: ADS" class="form-control input-register" value="@ViewBag.Curso" maxlength="50" autofocus>
                </div>
            </div>
        }
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6">
                <input type="password" name="Senha" placeholder="Password" class="form-control input-register" value="@ViewBag.Senha" maxlength="20">
            </div>
        </div>

        <div class="form-group">
            <div class="container col-sm-3 col-sm-offset-4">
                <button type="submit" class="btn btn-default btn-block">Salvar</button>
            </div>
        </div>
    </form>
</div>
