@model IEnumerable<Intera.Entity.Pessoa>
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>Manage Users</h2>
    <div class="container">
        <div class="row">
            <form action="/user/manage" method="post">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" name="Search" class="form-control input-lg" placeholder="Search for Name..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="margin:60px">
    <a href="/user/create" class="form-control btn btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i> Add User</a>
    
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>NAME</th>
            <th>E-MAIL</th>
            <th>STATUS</th>
            <th>OPTIONS</th>
        </tr>
        @foreach (var t in Model)
            {
            <tr>
                <td>@t.IdPessoa</td>
                <td>@t.Nome</td>
                <td>@t.Email</td>
                @if (t.Status == 1)
                {
                    <td>Aluno</td>
                }
                else if (t.Status == 2)
                {
                    <td>Professor</td>
                }
                <td>
                    
                    <a href="/user/view/@t.IdPessoa" class="btn btn-default btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                    <a href="/user/update/@t.IdPessoa" class="btn btn-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelUser"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>

                    <!-- Modal -->
                    <div class="modal fade" id="confirmDelUser" tabindex="-1" role="dialog" aria-labelledby="confirmDelUserLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content modal-sm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="confirmDelUser"> Confirm Deletion</h4>
                                </div>
                                <div class="modal-body">
                                    <p> Are you sure you want to delete?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"> Cancel</button>
                                    <a href="/user/delete/@t.IdPessoa" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
