@model IEnumerable<Intera.Entity.Pessoa>
@{
    ViewBag.Title = "manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>Manage Users</h2>
    <div class="container">
        <div class="row">
            <input type="text" class="form-control input-search" placeholder="search...">
            <button class="form-control btn btn-default button-search" type="submit">
                <span class="glyphicon glyphicon-search">  </span>
            </button>
        </div>
            <a href="/user/create" class="form-control btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add User</a>
    
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>NAME</th>
                <th>E-MAIL</th>
                <th>STATUS</th>
            </tr>
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.IdPessoa</td>
                    <td>@t.Nome</td>
                    <td>@t.Email</td>
                    @if (t.Status == 1)
                    {
                        <td>Aluno</td>
                    }
                    else if (t.Status == 2)
                    {
                        <td>Professor</td>
                    }
                    <td>
                        <a href="/user/update/@t.IdPessoa" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a href="/user/delete/@t.IdPessoa" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>