@model IEnumerable<Intera.Entity.Pessoa>
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>Manage Users</h2>
    <div class="container">
        <div class="row">
            <form action="/user/manage" method="post">
                <input type="text" class="form-control " name="Search" placeholder="Search for name...">
                <button class="form-control btn-default" type="submit">Search
                    <i class="fa fa-search">  </i>
                </button>
            </form>
        </div>
        <div style="margin:60px">
            <a href="/user/create" class="form-control btn btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i> Add User</a>

            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>NAME</th>
                    <th>E-MAIL</th>
                    <th>STATUS</th>
                    <th>OPTIONS</th>
                </tr>
                @foreach (var t in Model)
            {
                    <tr>
                        <td>@t.IdPessoa</td>
                        <td>@t.Nome</td>
                        <td>@t.Email</td>
                        @if (t.Status == 1)
                        {
                            <td>Aluno</td>
                        }
                        else if (t.Status == 2)
                        {
                            <td>Professor</td>
                        }
                        <td>
                            <a href="/user/view/@t.IdPessoa" class="btn btn-default btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                            <a href="/user/update/@t.IdPessoa" class="btn btn-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                            <a href="/user/delete/@t.IdPessoa" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>