
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">

    <div class="container">
        <div class="col-md-3 profile-card">
            <div>
                <img src="http://i.imgur.com/RCsa9nP.jpg" class="img-circle img-responsive" /> 
            </div>
            <div class="info-profile">
                <label class="info-title">Luizão</label>
                <label><i class="fa fa-envelope"></i> luizao@luizao.com</label>
                <label><i class="fa fa-map-marker"></i> Cedral</label>
                <label><i class="fa fa-graduation-cap"></i> Aluno</label>
            </div>
            <div class="network col-md-offset-3">
                <a target="_blank" class="btn facebook" href="https://www.facebook.com/profile.php?id=100000471764101&fref=ts"><i class="fa fa-facebook"></i></a>
                <a target="_blank" class="btn twitter" href="https://twitter.com/negrito177"><i class="fa fa-twitter"></i></a>
                <a target="_blank" class="btn google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                <a target="_blank" class="btn linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

        <form action="/" method="post">

        </form>
    </div>
</div>
