@{
    ViewBag.Title = "Update Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:60px">Update User</h2>
<div class="container">
    <form class="form-horizontal" action="/user/update/@ViewBag.IdPessoa" method="post">

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-6">
                <input type="text" name="Nome" placeholder="Full Name" class="form-control input-register" value="@ViewBag.Nome" maxlength="50" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" name="Email" placeholder="Email" class="form-control input-register" value="@ViewBag.Email" maxlength="50">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">RA / RS</label>
            <div class="col-sm-6">
                <input type="text" name="RaRs" placeholder="ex: 1210481512033" class="form-control input-register" value="@ViewBag.RaRs" maxlength="15" autofocus>
            </div>
        </div>

        @if (ViewBag.Status == 1)
        {
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Curso</label>
                <div class="col-sm-6">
                    <input type="text" name="Curso" placeholder="ex: ADS" class="form-control input-register" value="@ViewBag.Curso" maxlength="50" autofocus>
                </div>
            </div>
        }
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6">
                <button type="button" class="btn btn-block col-sm-12" data-toggle="modal" data-target="#attsenha" id="btnEditSenha">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Change Password
                </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="attsenha" tabindex="-1" role="dialog" aria-labelledby="attsenhaLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="attsenhaLabel">Change Password</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="oldpassword" class="col-sm-3 control-label">Old Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="oldPassword" placeholder="Old Password" class="form-control input-register" value="" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newpassword" class="col-sm-3 control-label">New Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" id="newpassword" name="Senha" placeholder="New Password" class="form-control input-register" onkeyup="checarSenha()" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmpassword" class="col-sm-3 control-label">Confirm New Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password" class="form-control input-register" onkeyup="checarSenha()" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-5" id="divcheck">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success" id="changepassword" disabled>Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.Status == 1)
        {
            <div class="form-group" style="visibility: hidden">
                <label class="control-label col-sm-3">Type</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="Type" value="1" checked>Student
                            </label>
                        </div>

                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="Type" value="2">Professor
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (ViewBag.Status == 2)
        {
            <div class="form-group" style="visibility: hidden">
                <label class="control-label col-sm-3">Type</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="Type" value="1">Student
                            </label>
                        </div>

                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="Type" value="2" checked>Professor
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="container col-sm-2 col-sm-offset-5">
                <!-- BOTÃO QUE ABRE O MODAL DE CONFIRMAÇÃO DAS ALTERAÇÕES REALIZADAS NO USUÁRIO -->
                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#confirmEditProf"> Save</button>

                <!-- MODAL DE CONFIRMAÇÃO DAS ALTERAÇÕES -->
                <div class="modal fade" id="confirmEditProf" tabindex="-1" role="dialog" aria-labelledby="confirmEditProfLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content modal-sm">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="confirmEditProf"> Confirm Changes</h4>
                            </div>
                            <div class="modal-body">
                                <p> Are you sure you want to save edits?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Cancel</button>
                                <button type="submit" class="btn btn-success btn-sm"> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
