
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>
<div class="container">
    @*<h3>@Html.Encode(ViewData["Message"])</h3>
    @Html.BeginForm("FileUpload", "User", FormMethod.Post, new { enctype = "multipart/form-data" })
    <fieldset>
        <input type="file" id="file" />
        <input type="submit" value="Enviar" />
    </fieldset>*@
    <form action="/user/FileUpload" method="post" enctype="multipart/form-data">

    <input type="file"  id="file" />
    <input type="submit" value="Enviar " />
    </form>
</div>
