.div-criarProj1 {
    margin-top: 7%;
}

.div-criarProj1Campos {
    margin-top: 2%;
    margin-left: 2%;
}

.div-tipos {
    margin-top: 2%;
}

.tm-input {
    width: 35%;
}

.div-textArea {
    margin-bottom: 1.5%;
}