.nome-proj {
    font-size: 1.5em;
    margin-bottom: 5%;
}

.proj-panel {
    width: 40%;
}

.panel-heading.proj-panel1 {
    background-color: #222;
    color: #FFFFFF;
}

#tudo {
    margin-top: 2%;
	width: 85%;
}

#tudo2 {
    position: absolute;
    bottom: 40%;
	height: 100px;
}

#tudo3 {
    position: absolute;
    bottom: 35%;
	height: 100px;
}

.div-btnDownload {
    margin-top: 0.5%;
}