body{
    font-family: 'Open Sans', sans-serif;
}

#btnAdd:hover{
    background-color: #2980b9;
    color:#FFF;
}
#btnEdit:hover{
    background-color: #F7CA18;
    color:#FFF;
}
#btnDel:hover{
    background-color: #F22613;
    color:#FFF;
}
#btnConfirm:hover{
    background-color: #26A65B;
    color:#FFF;
}
@import "bourbon";

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #eee;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}







/*ADD PROJECT*/
.divProject{
    display:block;
    margin-top: 15px;
}

.inputProject{
    width: 550px;
    margin-left: 20px;
    display: inline;
}

.inputProject:focus {
    border-color: #808080;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(128,128,128,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(128,128,128,.6);
}

.hrProject{
    margin-top:30px;
    margin-bottom:30px;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    width:90%;
}

.textareaProject{
    width: 800px;
    margin-left: 107px;
}

.textareaProject:focus {
    border-color: #808080;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(128,128,128,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(128,128,128,.6);
}

.btn-default{
    background: #414141;
    color: #f0f0f0;
}

.btn-default:hover{
    background: #ffffff;
    color: #414141;
    border-color: #414141;
}

.file-input-wrapper{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.btnProject{
    margin: 5px;
    position: relative;
    left: -70px;
    top: -51px;
}

.divHeader{
    height: 75px;
    background: rgb(55, 54, 54);
    color: #fff;
}

.divFooter{
    height: 40px;
    background: rgb(55, 54, 54);
    color: #fff;
}

.aProject{
    color: #fff;
}

.aProject:hover{
    text-decoration: none;
    color: #fff;
}

.aTerms{
    position:relative;
    top: 20px;    
}

/*h2{
    position: absolute;
    left: 50px;
}*/

.file {
  visibility: hidden;
  position: absolute;
}

.inputFile{
    width: 200px;
}

.rowFooter{
    position: relative;
    top: 10px;
}


