body{
    margin-top:50px;
}
#btnAdd:hover{
    background-color: #2980b9;
    color:#FFF;
}
#btnEdit:hover{
    background-color: #F7CA18;
    color:#FFF;
}
#btnDel:hover{
    background-color: #F22613;
    color:#FFF;
}
#btnConfirm:hover{
    background-color: #26A65B;
    color:#FFF;
}