.div-verProjeto {
     margin-top: 7%;
}

.panel-heading.ver-projeto {
    background-color: #222;
    color: #FFFFFF;
}

.ver-projPanel {
    margin-top: 2%;
    margin-left: 11%;
    width: 75%;
}

.titulo-verProj {
    font-size: 2.8em;
}

.titulos-verProj2 {
    font-size: 1.3em;
}