
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_LayoutOff.cshtml";
}



<div style="margin-top:60px;">
    <div>
        @*<h2>About</h2>*@
    </div>
    <div class="container" style="margin-top:10px;">

                <hr class="hrProject">

        <div class="panel panel-default">

            <div class="panel-heading" style="font-weight: 900; font-size:xx-large;"> About Intera</div>

            <div class="panel-body"> <br /> This website has an objective of a interligation with Professors and Students. Seeking out
                    a better display of finished or ongoing projects (TCC, Scientific Research) at FATEC (Technology University of Rio Preto) 
                    for students and stakeholders have acess to them. <br />
                    Here you can register you account if you are a student of the University (FATEC), before you can enjoy in a 
                    project that is ongoing or create a group to start a new one. Already registered people can offer their works that 
                    are not yet on the website for download. Isn't is necessary be registered to download and see the projects available. <br />
                    Intera is developed in 2016 by students of FATEC.
            </div>

            <hr class="hrProject" />
            <div class="panel-heading" style="font-weight: 900; font-size:xx-large;"> Developers</div>

            <div class="panel-body"> <br /> Jonatas Sgamato. <br /><br /> Leonardo Marias Soares. <br /><br /> 
                                            Luiz Felipe Martin Cordeiro. <br /><br /> Pedro Arthur Giorgetti.
            </div>

        </div>
        <hr class="hrProject" />
</div>

