
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="div-about">
    <div class="container margin-container">

        <div class="panel panel-default">

            <div class="panel-heading sobre-panel">
                <strong class="titulo-sobre">Sobre o Intera</strong> 
            </div>

            <div class="panel-body">
                <p class="texto-estilo">
                    Este site tem como objetivo a interligação com Professores e Estudantes. Buscando
                    uma melhor exposição de projetos finalizados ou em andamento (Trabalho de Conclusão de Curso, Iniciação Científica) na FATEC (Universidade Tecnológica) de São José do Rio Preto para estudantes e pessoas interessadas ou curiosas sobre esses projetos.
                    Aqui você pode publicar ou lançar projetos como papel final e pesquisa científica, mas para isso você precisa ser um estudante de professor na instituição.
                    As pessoas já registradas podem oferecer suas obras que ainda não estão no site para download. Não é necessário ser registrado para baixar e ver os projetos disponíveis. 
                    A Intera é desenvolvida em 2016 pelos alunos da FATEC.
                </p>
            </div>


            <div class="panel-heading sobre-panel"> 
                <strong class="titulo-sobre">Instituição e Equipe de Desenvolvedores</strong>
            </div>

            <div class="panel-body">
                <p><strong>Faculdade de Tecnologia de São José do Rio Preto, São Paulo. </strong></p>
                <p><strong>Mário Henrique Souza Pardo, 35 anos, Orientador do projeto - Mirassol, São Paulo. </strong></p>
                <p>Jonatas Sgamato, 19 anos, Back-End - São José Rio Preto, São Paulo. </p>
                <p>Leonardo Marias Soares, 20 anos, Back-End - São José Rio Preto, São Paulo. </p>
                <p>Luiz Felipe Martin Cordeiro, 20 anos, Front-End - São José Rio Preto, São Paulo. </p>
                <p>Pedro Arthur Giorgetti, 19 anos, Front-End - São José Rio Preto, São Paulo. </p>
            </div>

        </div>
    </div>
</div>

