
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="margin-top:60px;">
    <div>
        @*<h2>About</h2>*@
    </div>
    <div class="container" style="margin-top:10px;">

        <div class="panel panel-default">

            <div class="panel-heading" style="font-weight: 900; font-size:xx-large;"> About Intera</div>

            <div class="panel-body" style="text-align:justify;">
                This website has an objective of a interligation with Professors and Students. Seeking out
                a better display of finished or ongoing projects (Final Paper, Scientific Research) at FATEC (University Technology) of São José do Rio Preto for students and people who are interested or curious about these projects. <br />
                Here you can publish or launch projects like final paper and scientific research but for that you need to be a student o professor at the instituion.
                Already registered people can offer their works that are not yet on the website for download. Isn't is necessary be registered to download and see the projects available.  <br />
                Intera is developed in 2016 by students of FATEC.
            </div>


            <div class="panel-heading" style="font-weight: 900; font-size:xx-large;"> The Developers</div>

            <div class="panel-body">
                Jonatas Sgamato, 19 years - São José Rio Preto, São Paulo. <br />
                Leonardo Marias Soares, 19 years - São José Rio Preto, São Paulo. <br />
                Luiz Felipe Martin Cordeiro, 19 years - São José Rio Preto, São Paulo. <br />
                Pedro Arthur Giorgetti, 19 years - São José Rio Preto, São Paulo.
            </div>

        </div>
    </div>
</div>

