
@{
    ViewBag.Title = "adicionarprojeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Adicionar Projeto</h2>
<br/>
<label for="basic-url">Titulo do Projeto</label>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon3"></span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<br />


<label for="basic-url">Autores</label>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon3"></span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<br />




<div class="panel panel-default">
    <div class="panel-heading">Descrição</div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate risus non condimentum tincidunt. Aenean in quam congue, facilisis mi ut, pretium sapien. Quisque magna augue, ullamcorper nec nulla eget, lacinia convallis arcu. Donec vitae laoreet eros. Integer dignissim massa sed massa luctus tristique. Nullam ornare metus ac ornare ultrices. In dignissim mattis blandit. Ut felis justo, tempor sed arcu quis, elementum imperdiet leo.

        Morbi iaculis nibh magna, in ornare lacus tempus sit amet. Phasellus at sem a leo porttitor gravida. Cras eu turpis sapien. Integer fringilla nec ligula eu mollis. Donec eget sem lobortis, venenatis sem nec, tincidunt sapien. Fusce arcu metus, laoreet eget posuere eu, imperdiet sit amet mauris. Nunc congue, nisi at efficitur elementum, ipsum quam luctus mauris, a rutrum metus lorem nec est. Nullam bibendum sagittis metus, eget sollicitudin est vulputate sit amet. Vestibulum cursus ultricies ipsum at sollicitudin. Quisque mollis, ligula eu fringilla posuere, augue mauris viverra risus, egestas placerat ligula libero ac dui.
    </div>
</div>


<br />

<label class="control-label">Selecionar Arquivo</label>
<input id="input-1a" type="file" class="file" data-show-preview="false">
<label for="basic-url"></label>




<br />
<a class="btn btn-primary" href="/default/index">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
</a>
<a class="btn btn-primary" href="/default/index">
    <span class="glyphicon glyphicon"></span>
    Enviar
</a>
