@model IEnumerable<Intera.Entity.Projeto>
@{
    ViewBag.Title = "My Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>My Projects</h2>
</div>
<div style="margin:60px">
    <table class="table table-bordered">
        <tr>
            <th>NAME</th>
            <th>MEMBERS</th>
            <th>STATUS</th>
            <th></th>
        </tr>
        @foreach (var t in Model)
            {
            <tr>
                <td>@t.NomeProjeto</td>
                <td>Vai ser foda colocar os membro</td>
                @if (@t.Status == 1)
                {
                    <td>Em andamento</td>
                }
                @if (@t.Status == 2)
                {
                    <td>Finalizado</td>
                }
                <td>
                    <a href=""><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                    <a href="" class="btn btn-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                </td>
            </tr>
        }
    </table>
</div>
