
@{
    ViewBag.Title = "group";
    Layout = "~/Views/Shared/_LayoutOn.cshtml";
}
<div style="margin-top:60px;">
    <h2>My Group</h2>
    <div class="container">
        <div class="row " style="padding-top:40px;">
            <br /><br />
            <div class="col-md-8 dan">
                <div class="panel panel-info panel-danger">
                    <div class="panel-heading">
                        Recent Conversation
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle " src="~/Imagens/User.png" style="max-height:80px;" />
                                        </a>
                                        <div class="media-body">
                                            Donec sit amet ligula enim. Duis vel condimentum massa.

                                            Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                            Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            <br />
                                            <small class="text-muted">User1 | 23rd June at 5:00pm</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle " src="~/Imagens/User.png" style="max-height:80px;" />
                                        </a>
                                        <div class="media-body">
                                            Donec sit amet ligula enim. Duis vel condimentum massa.

                                            Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                            Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            <br />
                                            <small class="text-muted">User2| 23rd June at 5:00pm</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle " src="~/Imagens/User.png" style="max-height:80px;" />
                                        </a>
                                        <div class="media-body">
                                            Donec sit amet ligula enim. Duis vel condimentum massa.

                                            Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                            Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            <br />
                                            <small class="text-muted">User3| 23rd June at 5:00pm</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle " src="~/Imagens/User.png" style="max-height:80px;" />
                                        </a>
                                        <div class="media-body">
                                            Donec sit amet ligula enim. Duis vel condimentum massa.

                                            Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                            Duis vel condimentum massa.
                                            Donec sit amet ligula enim. Duis vel condimentum massa.
                                            <br />
                                            <small class="text-muted">User4| 23rd June at 5:00pm</small>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Write a message..." />
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary panel-success">
                    <div class="panel-heading">
                        Online Users
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="~/Imagens/User.png" />
                                        </a>
                                        <div class="media-body">
                                            <h5>User1| User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="~/Imagens/User.png" />
                                        </a>
                                        <div class="media-body">
                                            <h5>User2| User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="~/Imagens/User.png" />
                                        </a>
                                        <div class="media-body">
                                            <h5>User3| User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="~/Imagens/User.png" />
                                        </a>
                                        <div class="media-body">
                                            <h5>User4| User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="~/Imagens/User.png" />
                                        </a>
                                        <div class="media-body">
                                            <h5>Professor| User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="~/Imagens/User.png" />
                                        </a>
                                        <div class="media-body">
                                            <h5>Coorientador | User </h5>
                                            <small class="text-muted">Active From 3 hours</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
