
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Projeto INTERA</h1>
    <p>
        A aplicação web projeto INTERA tem como principal função o auxilio do desenvolvimento dos projetos de conclusão do curso e iniciações cientificas. Tendo foco na interação entre o professor e o(s) aluno(s) que realizam o seu desenvolvimento.
        Os trabalhos de conclusão de curso que se encontram na biblioteca da faculdade terao um melhor uso, ou seja, estarao disponiveis online para consulta e download.

    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba Mais</a></p>
</div>
<h2>Ultimos Projetos Adicionados</h2>
<div class="conteudo">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Imagens/INTERA.jpg" alt="logo">
                <div class="caption">
                    <h3>Projeto 1</h3>
                    <p>Descrição do projeto</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-eye-open"></i> Ver</a>
                        <a href="#" class="btn btn-default" role="button"><i class="glyphicon glyphicon-circle-arrow-down"></i> Download</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Imagens/INTERA.jpg" alt="logo">
                <div class="caption">
                    <h3>Projeto 2</h3>
                    <p>Descrição do projeto</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-eye-open"></i> Ver</a>
                        <a href="#" class="btn btn-default" role="button"><i class="glyphicon glyphicon-circle-arrow-down"></i> Download</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Imagens/INTERA.jpg" alt="logo">
                <div class="caption">
                    <h3>Projeto 3</h3>
                    <p>Descrição do projeto</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-eye-open"></i> Ver</a>
                        <a href="#" class="btn btn-default" role="button"><i class="glyphicon glyphicon-circle-arrow-down"></i> Download</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">...</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<a class="btn btn-primary" href="/default/adicionarprojeto">
    <spam class="glyphicon glyphicon-plus"></spam>
    Adicionar Meu Projeto
</a>