@model IEnumerable<Intera.Entity.Projeto>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="jumbotron">
        <h1 class="display-3">Sobre o Intera</h1>
        <p class="texto-estilo">
            A aplicação web Intera tem como função principal o desenvolvimento e interligação de projetos para o trabalho de conclusão do curso e iniciações científicas. Tendo-se centrado na interação entre o professor eo aluno que realizam o desenvolvimento do projeto.
            Os trabalhos de conclusão do curso que são vistos na biblioteca da faculdade terão um melhor uso, eles estarão disponíveis on-line para visualização e também para serem baixados. É possível criar também um novo projeto (Trabalho de Conclusão de Curso e Iniciação Científica) diretamente no site.
        </p>
        <hr class="my-2">
        <p>
            Aqui você pode ver os últimos projetos em andamento na instituição Fatec Rio Preto.
        </p>

        <p><a class="btn btn-default btn-lg" href="/default/about" style="margin-top:10px" role="button">Mais informações</a></p>
    </div>
</div>

<div style="margin-top:40px">
    <h1 style="text-decoration:unset">Últimos projetos adicionados</h1>
</div>


<div class="row " style="margin-top:50px">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 teste-shadow">

            <h2>@item.NomeProjeto</h2>

            <p>Advisor:@item.Link</p>
            <hr class="hrProject">
            <p class="text-justify">
                @item.Descricao
            </p>
            <a href="/Project/seeproject/@item.IdProjeto" class="btn btn-default" role="button"><i class="glyphicon glyphicon-eye-open"></i> Visualizar</a>
            @if (item.Link == "")
            {
                <a href="#" class="btn btn-default" role="button"><i class="glyphicon glyphicon-circle-arrow-down"></i> Baixar</a>
            }
        </div>

    }


</div>