@model IEnumerable<Intera.Entity.Projeto>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="jumbotron lead text-justify">
        <h1 class="display-3">About Intera</h1>
        <p>
            The web design application Intera has an main function how to the development and interligation of projects for completion work of the course and scientific initiations. Having focused on the interaction between teacher and student who perform project development.
            The completion works of course that are saw in the college library will have a better use, they will be available online for viewing and download. Is possible to create too a new project (Final Paper, Scientific Research) directly on the website.
        </p>
        <hr class="my-2">
        <p>
            Here you can see the last projects in progress at the Fatec Rio Preto
        </p>

        <p><a class="btn btn-danger btn-lg" href="/default/about" style="margin-top:10px" role="button">More Information</a></p>
    </div>
</div>

<div style="margin-top:40px">
    <h1 style="text-decoration:unset">Last Add Projects</h1>
</div>


<div class="row " style="margin-top:50px">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 teste-shadow">

            <h2>@item.NomeProjeto</h2>

            <p>Advisor:@item.Link</p>
            <hr class="hrProject">
            <p class="text-justify">
                @item.Descricao
            </p>
            <a href="/Project/seeproject/@item.IdProjeto" class="btn btn-danger" role="button"><i class="glyphicon glyphicon-eye-open"></i> View</a>
            @if (item.Link == "")
            {
                <a href="#" class="btn btn-default" role="button"><i class="glyphicon glyphicon-circle-arrow-down"></i> Download</a>
            }
        </div>

    }


</div>