
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>Register</h2>
    <br />
    <div class="container">
        <form class="form-horizontal" action="/default/register" method="post">

            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                <div class="col-sm-6">
                    <input type="text" name="Nome" placeholder="Full Name" class="form-control input-register" autofocus>
                    <span class="help-block">Last Name, First Name, eg.: Luizão</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" name="Email" placeholder="Email" class="form-control input-register">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">RA / RS</label>
                <div class="col-sm-6">
                    <input type="text" name="RaRs" placeholder="ex: 1210481512033" class="form-control input-register" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Curso</label>
                <div class="col-sm-6">
                    <input type="text" name="Curso" placeholder="ex: Curso" class="form-control input-register" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" name="Senha" placeholder="Password" class="form-control input-register">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Type</label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="Type" value="1" checked>Student
                            </label>
                        </div>

                        <div class="col-sm-4">
                            <label class="radio-inline">
                                <input type="radio" name="Type" value="2" >Professor
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container col-sm-3 col-sm-offset-4">
                    <button type="submit" class="btn btn-default btn-block">Register</button>
                </div>
            </div>
        </form> <!-- /form -->
    </div> <!-- ./container -->
</div>