
@{
    ViewBag.Title = "Scientific Research";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>Scientific Research Projects</h2>
    <div class="panel panel-heading">
        <!-- Default panel contents -->
        <div class="panel-body">
            <p>Whenever the user is offline and in the event of any publication , either in a published file as the personal project chat in progress, an email is automatically released for the same.</p>
        </div>
        <div style="margin-top:30px;">
            <div class="container">
                <div style="margin:20px">

                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>ADVISOR</th>
                            <th>MEMBERS</th>
                            <th>INITIAL DATE</th>
                            <th>STATUS</th>
                            <th>JOIN</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>Seha</th>
                            <th>Carlos</th>
                            <th>Alberto, Davi, João e Thelio;</th>
                            <th>29/08/2015</th>
                            <th style="color:goldenrod;">
                                IN PROGRESS
                            </th>
                            <th>
                                <i class="fa fa-share" aria-hidden="true" title="An email is sent to the advisor of this project speaking your interest in join at
                                   this project."></i>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>