@model IEnumerable<Intera.Entity.Projeto>
@{
    ViewBag.Title = "Scientific Research";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h2>Scientific Research Projects</h2>
    <div class="panel panel-heading">
        <!-- Default panel contents -->
        <div class="panel-body">
            <p>See the main scientific research that occur or have already occurred so far in the Fatec Rio Preto.</p>
        </div>
        <div style="margin-top:30px;">
            <div class="container">
                <div style="margin:20px">

                    <table class="table table-bordered">
                        <tr>

                            <th>NAME</th>
                            <th>ADVISOR</th>
                            <th>INITIAL DATE</th>
                            <th>STATUS</th>
                            @if (Session["user"] != null && ViewBag.Status == 1)
                            {
                                <th>JOIN</th>
                            }
                        </tr>
                        @foreach (var T in Model)
                        {
                            <tr>
                                <th>@T.NomeProjeto</th>
                                <th>@T.Link</th>
                                <th>@T.DataInicio.ToShortDateString()</th>
                                @if (T.Status == 1)
                                {
                                    <th style="color:goldenrod;">
                                        IN PROGRESS
                                    </th>

                                    if (Session["user"] != null && ViewBag.Status == 1)
                                    {
                                        <th>
                                            <form action="/default/scientificresearch/@T.IdProjeto" method="post">
                                                <button type="submit" class="btn btn-default filter-col top-right">
                                                    <span class="fa fa-share" title="An email is sent to the advisor of this project speaking your interest in join at
                                   this project."></span>
                                                </button>
                                            </form>
                                        </th>
                                    }
                                }

                                @if (T.Status == 2)
                                {

                                    <th style="color:green;">
                                        FINISHED
                                    </th>
                                    if (Session["user"] != null && ViewBag.Status == 1)
                                    {
                                        <th>
                                            <i class="glyphicon glyphicon-remove" aria-hidden="true" title="An email is sent to the advisor of this project speaking your interest in join at
                                   this project."></i>
                                        </th>
                                    }
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
